!!!5
html
  head
    title Groupchat
    meta( name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" )
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container!= body
